<%= form_with url: category_budget_transactions_path, method: :post, data: {turbo: false} do |f| %>
  <div class="form-group">
    <div class="form-group__field">
      <%= f.label :name, class: "hidden" %>
      <%= f.text_field :name, autofocus: true, required: true, autocomplete: "name", placeholder: "Name", class: 'form-group__field--input' %>
    </div>

    <div class="form-group__field">
      <%= f.label :title, class: "hidden" %>
      <%= f.number_field :amount, placeholder: "Amount", class: 'form-group__field--input' %>
    </div>

    <div class="form-group__actions">
      <%= f.submit "Create", class: "submit-btn create-btn" %>
    </div>
  </div>
<% end %>