<div class="category-container">
  <%= render "layouts/header" %>

  <div class="category-container--cards">
    <% @categories.each do |category| %>
      <div class="card">
        <div class="card__img">
          <%= image_tag category.icon, class: "img" %>
        </div>
        <div class="card__title">
          <P><%= category.name %></P>
        </div>
        <% total_transaction = 0 %>
        <% category.budget_transactions.each do |transaction| %>
          <% total_transaction += transaction.amount %>
        <% end %>
        <div class="card__transaction-amount">
          $ <%= '%.2f' % total_transaction %>
        </div>
      </div>
      <% end %>
  </div>

  <%= link_to "Add Category", new_category_path, class: "add-btn" %>
</div>
